KAFKA_TOPIC_ORDERS=orders_raw
KAFKA_TOPIC_ANOMALIES=orders_anomalies
POSTGRES_DB=warehouse
POSTGRES_USER=de_user
POSTGRES_PASSWORD=de_password
MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123
MINIO_BUCKET_RAW=raw
MINIO_BUCKET_ANALYTICS=analytics

